html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.user-item {
    margin:.5em 0;
}
.user-item .select-user{
    padding:.5em 10em;
    text-transform:uppercase;
    font-weight:600;
    border:none;
    border-top:1px solid #c2bdbd;
    border-bottom:2px solid black;
    border-bottom-left-radius:25px;
    border-bottom-right-radius:25px;
}
#userDetails{
    display:none;
}
#userDetails.show {
    display: block;
}