@using Berber.Models.Tables
@model Mission
@{
    ViewData["Title"] = "Update";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<span class="page-title"><span>Hizmet Güncelleme</span></span>

<form asp-area="Admin" asp-controller="Missions" asp-action="Update">
    <input type="hidden"  asp-for="Id"/>
    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </div>
    <div>
        <button type="submit">Kaydet</button>
    </div>
</form>