@using Berber.Models.ServiceModels
@model SignInModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<span class="page-title"><span>Giriş yap</span></span>
<div asp-validation-summary="ModelOnly" class="p-2 bg-info"></div>
<form asp-controller="SignIn" asp-action="Index">
    <div>
        <label asp-for="Email"></label>
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>
    <div>
        <label asp-for="Password"></label>
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        <button type="submit">Giriş</button>
    </div>
</form>
